html, body, header, nav, section, aside, footer{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p{
    margin: 0;
    padding: 0;

    color: #FFF;
    cursor: default;
}

html, body{
    width: 100%;
    min-width: 800px;
    height: 100%;
    min-height: 600px;
}

html{
    background: #000;
}

body{
    background: url("../res/img/bg1.jpg");
    background-size: cover;
    text-align: center;
}

header{
    /*background: rgba(80,180,100,0.5);*/
    height: 45%;

    padding-top: 150px;

}

section{
    /*background: rgba(180,80,100,0.5);*/
    height: 45%;
}

footer{
    /*background: rgba(100,180,80,0.5);*/
    height: 10%;
}

/*********************************************************************************************************************/

h1{
    width: 50%;
    margin: 0 auto;
    font-size: 4em;
    font-family: Aldrich, Arial;
    text-shadow: 0 0 5px #FF0000;
    transition: 1s;

    cursor: default;
}

h2{
    font-size: 2.5em;
    font-family: Caveat, Arial;
    text-shadow: 0 0 5px #00FF00;

}

h3{
    font-size: 2em;
    font-family: Helvetica, Arial;
    text-shadow: 0 0 5px #0000FF;
}

section div{
    /*background: rgba(100,150,200, 0.5);*/
    height: 30%;
    margin: 20px 0px 40px 0px;
}

section div figure{
    height: 100%;
    width: 100px;
    margin: 0 0.5%;

    display: inline-block;
}

section div figure img{
    height: 60%;
}

section div figure figcaption{
    opacity: 0;
}

/********************************************************** FONTS *****************************************************/
@font-face {
    font-family: Aldrich;
    src: url("../res/font/Aldrich-Regular.ttf");
}

@font-face {
    font-family: Caveat;
    src: url("../res/font/Caveat-Regular.ttf");
}

/******************************************************** EFFECTS ****************************************************/
h1:hover{
    font-size: 5em;
    text-shadow: 0 0 10px #FF0000;
    transition: 1s;
}